# Docker ENV
PROXY_HOST=proxy
PROJECT_HOST=nextcloud.example.com
ACME_EMAIL=example@email.com
MYSQL_ROOT_PASSWORD=replace-with-a-database-root-password
MYSQL_PASSWORD=replace-with-the-nextcloud-database-password
DB_SOURCE_PATH=./db
DATA_SOURCE_PATH=./data
CONFIG_SOURCE_PATH=./config
